@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --magenta: hsl(4, 61%, 48%);
}

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--magenta);
  font-weight: 700;
  display: block;
}

/* Main Content Styling */
main {
  font-family: 'Baumans', sans-serif;
  font-size: 1.25rem;
}

/* Header Styling */
header {
  /* position: fixed;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 1rem;
}

.logo-wrapper {
  width: 200px;
}

.logo {
  display: block;
  max-width: 100%;
}

header nav ul {
  display: flex;
  column-gap: 2rem;
}

header li {
  list-style: none;
  color: var(--magenta);
  font-weight: 700;
}

/* Services dropdown styling */
.our-services {
  position: relative;
}

.our-services-contents {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--magenta);
  display: none;
  flex-direction: column;
  row-gap: 1rem;
  z-index: 100;
  padding: 1rem;
  width: max-content;
  border-radius: 10px;
}

.our-services-contents a {
  color: var(--white);
  width: fit-content;
}

.our-services-contents a:hover {
  border-bottom: 2px solid var(--white);
}

.our-services:hover .our-services-contents {
  display: flex;
}

.our-services:hover .chevron {
  transform: rotateX(180deg);
  transition: all 0.5s ease-in-out;
}

.chevron {
  transition: all 0.5s ease-in-out;
}
/* Service dropdown styling ends */

/* Socials icons and links styling */
header .socials {
  display: flex;
  column-gap: 1.5rem;
}

header .socials > div {
  transition: transform 0.3s ease;
}

header .socials > div:hover {
  transform: translateY(-10px) scale(1.5);
}

.linkedin:hover {
  color: hsl(201, 100%, 35%);
}

.skype:hover {
  color: hsl(196, 100%, 47%);
}

.facebook:hover {
  background: linear-gradient(
    to bottom,
    hsl(201, 100%, 55%),
    hsl(214, 100%, 44%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* hsl(201, 100%, 55%)  hsl(214, 100%, 44%)*/
}

.instagram:hover {
  background: linear-gradient(
    45deg,
    hsl(28, 93%, 60%),
    hsl(328, 71%, 51%),
    hsl(275, 54%, 45%),
    hsl(234, 61%, 58%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Socials icons and links styling ends */

/* Slider Styling */
.services-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: var(--white);
  padding: 6rem 10rem;
}

.inspection-slide {
  background-image: url('img/pexels_cottonbro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.printing-slide {
  background-image: url('img/pexels-jakubzerdzicki.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cad-slide {
  background-image: url('img/pexels-thisisengineering.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.eng-slide {
  background-image: url('img/pexels-rdne.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.data-slide {
  background-image: url('img/pexels-pavel-danilyuk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.services-slider h1 {
  font-size: 52px;
}

.services-slider p {
  margin: 5rem 0 3rem;
}

.services-slider .links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
}

.services-slider .links a {
  color: var(--white);
  background-color: var(--magenta);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: initial;
  transition: all 0.2s ease-in-out;
}

.services-slider .links a:hover {
  background-color: var(--white);
  color: var(--magenta);
}
/* Slider Styling Ends*/

section.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem 4.44rem;
  margin: 3rem;
}

section.services > div {
  flex-basis: 30%;
}

#services-header {
  position: relative;
  padding: 2rem;
  background-color: var(--magenta);
  color: var(--white);
  border-radius: 50px;
  transition: all 0.5s ease-in-out, transform 1s ease-in-out;
}

#services-header:hover {
  scale: 1.1;
}

.dropdown {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.service-info {
  /* display: none; */
  height: 0;
  overflow: hidden;
  /* width: 100vw; */
}

.closing-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--magenta);
  color: var(--white);
  gap: 5rem;
  margin: 10rem 0 5rem;
  padding: 3rem 1rem;
}

.closing-section ul {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color: var(--white);
}

.closing-section li {
  list-style: none;
}

.closing-section a {
  display: block;
  color: var(--white);
}

/* Machine Part Inspection Page Styling */
/* Intro Section */
section.intro {
  text-align: center;
  background-color: var(--magenta);
  color: var(--white);
  padding: 1.5rem 3rem;
}

section.intro h1 {
  font-size: 48px;
  font-weight: 900;
}

section.intro p {
  margin-top: 4rem;
}

/* Methods of Inspection Section */
.methods {
  background: url('img/2148522095.jpg') center / cover no-repeat fixed;
  padding: 5rem 0;
  color: black;
}

.methods h2,
.procedures h2,
.benefits h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 1.5rem;
}
.method-lists-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 15rem;
}

.method-list {
  font-size: 28px;
  color: black;
  align-self: center;
}

/* .method-list:nth-child(odd) {
  align-self: start;
}

.method-list:nth-child(even) {
  align-self: end;
} */
/* Methods of Inspection Section Ends */

/* Inspection Procedures */
.procedures {
  margin-top: 3rem;
}
.procedures > p {
  text-align: center;
  font-size: 24px;
  padding: 0 10rem;
  margin-bottom: 3rem;
}

.inspections {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.inspections > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inspections img {
  display: block;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 5rem 0 1rem;
}

.details h3 {
  font-size: 40px;
}

.inspections > div:nth-child(even) .details {
  order: 2;
  margin-left: 2rem;
}

.benefits {
  background-color: var(--magenta);
}

.benefits {
  padding: 3rem 0;
  color: var(--white);
}
